<mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="../assets/logo.PNG"
    />

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/admin/home">
      <mat-icon class="color-mat-icon">home</mat-icon>
      <span>Página Principal</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/aforo">
      <mat-icon class="color-mat-icon">person</mat-icon>
      <span>Aforo</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/promociones">
      <mat-icon class="color-mat-icon">money</mat-icon>
      <span>Promociones</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/maps">
      <mat-icon class="color-mat-icon">maps</mat-icon>
      <span>Maps Mall</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/novedades">
      <mat-icon class="color-mat-icon">flash_on</mat-icon>
      <span>Novedades</span>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/admin/sugerencia">
      <mat-icon class="color-mat-icon">chat</mat-icon>
      <span>Sugerencias</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/help">
      <mat-icon class="color-mat-icon">help</mat-icon>
      <span>Help</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/export">
        <mat-icon class="color-mat-icon">assignment</mat-icon>
        <span>Reportes</span>
      </button>
      <button mat-button class="menu-button" routerLink="/login">
        <mat-icon class="color-mat-icon">power_settings_new</mat-icon>
        <span>Salir</span>
      </button>


    
  </mat-sidenav>