<mat-sidenav-container>
    <app-navbar-admin></app-navbar-admin>
    <div class="content mat-elevation-z8">
        <div class="exports">
        <br>
        <button mat-raised-button (click)="exportExcel_admin()">Administradores</button>
        <br>
        <button mat-raised-button (click)="exportExcel_mall()">Malls</button>
        <br>
        <button mat-raised-button (click)="exportExcel_new()">Novedades</button>
        <br>
        <button mat-raised-button (click)="exportExcel_offer()">Promociones</button>
        <br>
        <button mat-raised-button (click)="exportExcel_product()">Productos</button>
        <br>
        <button mat-raised-button (click)="exportExcel_store()">Tiendas</button>
        <br>
        <button mat-raised-button (click)="exportExcel_suggestion()">Sugerencias</button>
        <br><!--
        <button mat-raised-button (click)="exportExcel_product_store()">Productos x Tienda</button>
        <br>
        <button mat-raised-button (click)="exportExcel_store_mall()">Tiendas x Mall</button>-->
        </div>

    </div>
</mat-sidenav-container>