<mat-sidenav-container>
  <app-navbar></app-navbar>
<div class="content mat-elevation-z8">
<mat-form-field appearance="fill">
    <mat-label>Tiendas</mat-label>
    <mat-select [(ngModel)]="selectedCategoria" name="categoria" (ngModelChange)="filtrarCategorias()">
      <mat-option value="ropa">
        Ropa
      </mat-option>
      <mat-option value="calzado">
        Calzado
      </mat-option>
      <mat-option value="deportes">
        Deportes
      </mat-option>
      <mat-option value="todos">
        Todos
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let tienda of newTiendaView" class="grid-card">
      <a routerLink="/detalle/producto" style="text-decoration: none;"><mat-card class="example-card">
        <img mat-card-image src="../../../assets/images/{{ tienda.img }}" alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title>{{ tienda.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ tienda.horario }}
          </p>
          <p>
            {{ tienda.ubicacion }}
          </p>
        </mat-card-content>
      </mat-card></a>
    </mat-grid-tile>
  
  </mat-grid-list>
</div>
</mat-sidenav-container>