<mat-sidenav-container> 
    <app-navbar-admin> </app-navbar-admin> 
 <div class="content mat-elevation-z8">
 <h1 class="Title">Promocion </h1>
 
 <div class="Container">
     <form [formGroup]="myForm" autocomplete="off">
  
 
            <p>
            <mat-form-field appearance="legacy" class="Filter">
                <mat-label style="color:black">Name</mat-label>
                <input matInput formControlName="name" placeholder="Nombre de tienda">
              </mat-form-field>
            </p>

        
            <p>
                <mat-form-field appearance="legacy" class="Filter">
                    <mat-label style="color:black">Name Product</mat-label>
                    <input matInput formControlName="name_product" placeholder="Nombre producto">
                  </mat-form-field>
            </p>

            <p>

                <mat-form-field appearance="legacy">
                    <mat-label>Gender</mat-label>
                    <mat-select>
                      <mat-option value="one">Hombre</mat-option>
                      <mat-option value="two">Mujer</mat-option>
                      <mat-option value="trhee">Unisex</mat-option>
                    </mat-select>
                  </mat-form-field>

            </p>

            <p>
                <mat-form-field appearance="legacy" class="Filter">
                    <mat-label style="color:black">Price a</mat-label>
                    <input matInput formControlName="precio_s_desc" placeholder="Precio sin descuento">
                  </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="legacy" class="Filter">
                    <mat-label style="color:black">Price c</mat-label>
                    <input matInput formControlName="precio_c_desc" placeholder="Precio con descuento">
                  </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="legacy" class="Filter">
                    <mat-label style="color:black">Date on</mat-label>
                    <input matInput formControlName="date_on" placeholder="Fecha inicio">
                  </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="legacy" class="Filter">
                    <mat-label style="color:black">Date off</mat-label>
                    <input matInput formControlName="date_of" placeholder="Fecha fin">
                  </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="legacy" class="Filter">
                    <mat-label style="color:black">Imagen</mat-label>
                    <input matInput formControlName="img" placeholder="Img">
                  </mat-form-field>
            </p>
             
             <div> 
                 <button  routerLink="/admin/promociones" mat-raised-button color="Primary" 
                      type="button"(click)="savePromocion()">Grabar</button>
 
                 <button  routerLink="/admin/promociones" mat-raised-button color="Secundary">Cancelar</button>
             </div>
 
     </form>
 
 </div>
 
 </div>
 
 </mat-sidenav-container>
