<mat-sidenav-container>
    <app-navbar></app-navbar>
  <div class="content mat-elevation-z8">
<div>   
    <h1>
        <mat-icon class="color-mat-icon" style="color: #FF751F;">maps</mat-icon> Maps Mall
    </h1>
    <div class="container">
    <div class="grafico">
        <img src="../../../assets/images/maps-mall.jfif" alt="grafico" width="1000px">
    </div>
    <!--
    <div class="descripcion">
        <div class="horario">
            <p><mat-icon>access_time</mat-icon><b>Horario de mayor transito:</b> 5:00pm - 9:00pm  (Hoy)</p>
        </div>
        <br>
        <div class="conteo">
           <p><mat-icon>store</mat-icon><b>Capacidad de personas:</b>
            100
            </p>
            <br>
            <p><mat-icon>cancel</mat-icon><b>Riesgo de contagio:</b>
            5%
            </p>
        </div>
    </div>-->
    </div>
</div>
</div>
</mat-sidenav-container>
