<mat-sidenav-container> 
    <app-navbar-admin> </app-navbar-admin>
<div class="content mat-elevation-z8">
<h1 class="TittleTienda">Larcomar - ADIDAS</h1>
<div class="OpcionElegida"> 
  <mat-icon class="color-mat-icon">money</mat-icon>
  <span>Promociones</span>
</div>

<mat-form-field appearance="fill">
    <mat-label>Genero</mat-label>
    <mat-select [(ngModel)]="selectedGenero" name="Genero" (ngModelChange)="filtrarGenero()">
      <mat-option value="Hombre">
        Hombre
      </mat-option>
      <mat-option value="Mujer">
        Mujer
      </mat-option>
      <mat-option value="todos">
        Todos
      </mat-option>
    </mat-select>
  </mat-form-field>

 <div>
    <button class="ButtonAgregar" routerLink="/admin/add/promocion" mat-raised-button color="Primary">Agregar</button>
  </div>  

  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let promocion of newPromoView" class="grid-card" routerLink="/admin/producto">
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/images/{{ promocion.img }}" alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title>{{ promocion.name_product}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <del> Antes: {{ promocion.precio_s_desc }}</del> <b> →</b> Ahora: {{ promocion.precio_c_desc }} 
          </p>
          <p>
            {{ promocion.gender_product }}
            <a style="cursor:pointer" (click)="deletePromocion(promocion.id)"> 
                <mat-icon class="delete">delete</mat-icon> 
              </a>
          </p>
        </mat-card-content>
      
      </mat-card>
    </mat-grid-tile>
  
  </mat-grid-list>
  
</div>
</mat-sidenav-container>

